body {
    background: linear-gradient(black, black);
}

header {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    float: left;
    position:fixed;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contenu {
    width: 80%;
    margin: auto;
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    padding-bottom: 3%;
    text-align: center;
}

.marginTop {
    margin-top: 10%;
}

.experience {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 4px solid whitesmoke;
    transition: transform .2s;
    padding: 20%;
}

.void {
    padding-bottom: 10%;
}

a {
    margin:3%;
    justify-content: center;
}

.AccueilButton {
    margin-right: 5%;
}

.jumbotron {
    color: black;
    padding: 10%;
    margin: auto;
    width: 80%;
    text-align: center;
}

.CV {
    align-items: center;
    margin: auto;
    width: 60%; 
}

.imgfooter {
    margin: 5%;
    width: 15%;
    height: 100%;
}

img {
    width: 175px;
    height: 100%;
    transition: transform .2s;
    text-align: center;
    margin: auto;
}

.experience:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.TitreRetex {
    
    text-decoration:none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: 100%;
    line-height: 100%;
}

@media screen and (max-width: 1000px) {
    .TitreRetex {
    font-size: 150%;
    }
}

@media screen and (max-width: 650px) {

    footer {
        padding: 20%;
    }

    .footerText {
        font-size: 70%;
    }

    .imgfooter {
        width: 30%;
        height: 100%;
    }

    .contenu {
        flex-direction: column;
    }

    .experience {
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 4px solid whitesmoke;
        transition: transform .2s;
        padding: 20%;
        margin-bottom: 20%;
    }
}

#unique1 {
    display: flex;
    align-items: center;
}

.presentation {
    margin: auto;
    width: 100%;
    margin: auto;
    color: whitesmoke;
    padding-bottom: 3%;
}

footer {
    justify-content: space-evenly;
    line-height: 50%;
    text-align: center;
    color: black;
    padding: 13%;
    padding-top: 50px;
    padding-bottom: 165px;
    background-color: whitesmoke;
}

.itemfooter {
    padding: 0%;
    margin-top: 0%;
    float: left;
    width: 30%;
}