html {
	scroll-behavior: smooth;
}

body {
    background: linear-gradient(black, black);
}

header {
    border: solid whitesmoke;
    border-width: 0px 0px 3px 0px;
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    float: left;
    position:fixed;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 0%;
}

.imagesArt {
    margin: auto;
    width: 55%;
    height: 100%;
    transition: transform .5s;
    text-align: center;
}

.imagesArtCarre {
    margin: auto;
    width: 40%;
    height: 100%;
    transition: transform .5s;
    text-align: center;
}

.contenuG {
    text-align: right;
    padding: 10%;
}

.contenuD {
    text-align: left;
    padding: 10%;
}

.imagesArt:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.contenu {
    width: 80%;
    margin: auto;
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    padding-bottom: 3%;
    text-align: center;   
}

.titres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   

}

.marginTop {
    margin-top: 5%;
}

.marginTop2 {
    margin-top: 14%;
}



.experience {
    width: 100%;
    height: 100%;
    background-size: cover;
    justify-content: center;
    margin: 0px;
    color: whitesmoke;
    align-items: center;
    border-radius: 10px;
    border: 4px solid whitesmoke;
    transition: transform .35s;
    padding-top: 20%;
    padding-bottom: 20%;
}

.void {
    padding-bottom: 10%;
}

a {
    margin:2%;
    justify-content: center;
}

.AccueilButton {
    margin-right: 5%;
}

.jumbotron {
    color: black;
    padding: 10%;
    margin: auto;
    width: 80%;
    text-align: center;
}

.CV {
    align-items: center;
    margin: auto;
    width: 60%; 
}

.imgfooter {
    margin: 5%;
    width: 15%;
    height: 100%;
}

img {
    width: 175px;
    height: 100%;
    transition: transform .5s;
    text-align: center;
    margin: auto;
}

.imageLien {
    object-fit: cover;
}

.arrondi {
    border-radius: 0.7em;
}

.experience:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.TitreRetex {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noHover:hover {
    text-decoration: none !important;
}

.footerText {
    font-size: 100%;
    line-height: 100%;
}

@media screen and (max-width: 1000px) {
    .TitreRetex {
    font-size: 150%;
    }
}

@media screen and (max-width: 650px) {

    .contenuArtD {
        text-align: center;
    }
    
    .contenuArtG {
        text-align: center;
    }

    footer {
        padding: 20%;
    }

    .footerText {
        font-size: 70%;
    }

    .imgfooter {
        width: 30%;
        height: 100%;
    }

    .contenu {
        flex-direction: column;
    }

    .experience {
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 4px solid whitesmoke;
        transition: transform .5s;
        padding: 20%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 20%;
    }

    header {
        font-size: 55%;
    }

    header p {
        margin-bottom: 5px;
    }
}

#unique1 {
    display: flex;
    align-items: center;
}

.presentation {
    margin: auto;
    width: 100%;
    margin: auto;
    color: whitesmoke;
    padding-bottom: 3%;
}

footer {
    justify-content: space-evenly;
    line-height: 50%;
    text-align: center;
    color: black;
    padding: 13%;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: whitesmoke;
}

.itemfooter {
    padding: 0%;
    margin-top: 0%;
    float: left;
    width: 30%;
}

.deuxTiers {
    width: 70%;
    text-align: center;
    margin: auto;
}

.anchor{
    display: block;
    height: 40;
    margin-top: -40;
    visibility: hidden;
}